<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" defaultUrl="~/ProviderPortal/DataSelection.aspx" loginUrl="~/ProviderPortal/Login.aspx" timeout="120" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <anonymousIdentification enabled="true" />
    <profile enabled="true" defaultProvider="Demo_ProfileProvider">
      <providers>
        <add name="Demo_ProfileProvider" connectionStringName="DefaultConnectionString" applicationName="/" type="System.Web.Profile.SqlProfileProvider,System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
      <properties>
        <add name="PracticeId" type="long" allowAnonymous="true" />
        <add name="PracticeName" type="string" allowAnonymous="true" />

        <add name="PracticeLogo" type="string" allowAnonymous="true" />
        <add name="PracticeAddress" type="string" allowAnonymous="true" />
        <add name="PracticeCity" type="string" allowAnonymous="true" />
        <add name="PracticeState" type="string" allowAnonymous="true" />
        <add name="PracticeZip" type="string" allowAnonymous="true" />
        <add name="PracticeContactPersonPhone" type="string" allowAnonymous="true" />

        <add name="PracticeLocationsId" type="long" allowAnonymous="true" />

        <add name="UserId" type="long" allowAnonymous="true" />
        <add name="UserType" type="string" allowAnonymous="true" />
        <add name="UserTitle" type="string" allowAnonymous="true" />
        <add name="UserName" type="string" allowAnonymous="true" />
        <add name="FirstName" type="string" allowAnonymous="true" />
        <add name="LastName" type="string" allowAnonymous="true" />
        <add name="MiddleName" type="string" allowAnonymous="true" />
        <add name="DOB" type="string" allowAnonymous="true" />
        <add name="Gender" type="string" allowAnonymous="true" />
        <add name="StaffType" type="string" allowAnonymous="true" />
        <add name="EmailAddress" type="string" allowAnonymous="true" />
        <add name="PhoneNumber" type="string" allowAnonymous="true" />
        <add name="ServiceProviderId" type="long" allowAnonymous="true" />
        <add name="ProfilePicturePath" type="string" allowAnonymous="true" />
        <add name="CompanyModuleEMR" type="string" allowAnonymous="true" />
        <add name="CompanyModuleAccounting" type="string" allowAnonymous="true" />
        <add name="MainMenuEMR" type="System.Collections.ArrayList" allowAnonymous="true" />
        <add name="MainMenuAccounting" type="System.Collections.ArrayList" allowAnonymous="true" />
        <add name="Rights" type="string" allowAnonymous="true" />
        <add name="RightsServer" type="ModuleRights" allowAnonymous="true" />
        <add name="PatientId" type="long" allowAnonymous="true" />
        <add name="PatientMaritalStatus" type="string" allowAnonymous="true" />
        <add name="PatientCellNo" type="string" allowAnonymous="true" />
        <add name="PatientHomeNo" type="string" allowAnonymous="true" />
        <add name="PatientWorkNo" type="string" allowAnonymous="true" />
        <add name="PatientCity" type="string" allowAnonymous="true" />
        <add name="PatientState" type="string" allowAnonymous="true" />
        <add name="PatientZip" type="string" allowAnonymous="true" />
        <add name="PatientAddress" type="string" allowAnonymous="true" />
        <add name="arrCashRegister" type="string" allowAnonymous="true" />
        <add name="arrClaimCharges" type="string" allowAnonymous="true" />
        <add name="SpecificPracticeId" type="long" allowAnonymous="true"/>
        <add name="SpecificUserName" type="string" allowAnonymous="true"/>
        <add name="SpecificUserId" type="string" allowAnonymous="true"/>
       <add name="IsImported" type="string" allowAnonymous="true"/>
      </properties>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="Demo_RolesProvider">
      <providers>
        <add name="Demo_RolesProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DefaultConnectionString" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <controls>
        <!--<add src="~/ProviderPortal/Controls/UCQuickLaunchBar.ascx" tagName="QuickLaunchBar" tagPrefix="QL"/>-->
        <add src="~/ProviderPortal/Controls/UCMessageDialog.ascx" tagName="MessageDialog" tagPrefix="DG" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="FilePath" value="C:\MyBase" />
    <add key="PracticePath" value="~/PracticeDocuments" />
    <add key="PatientPhoto" value="~/PracticeDocuments" />
    <add key="ServiceProviderPhoto" value="~/ProviderPortal/Settings/TempImages" />
    <add key="DocumentsPath" value="~/PracticeDocuments" />
    <add key="SuperAdminDirectory" value="/ProviderPortal/SuperAdmin" />
    <add key="SuperAdminDefaultPath" value="/SuperAdmin/Companies.aspx" />
    <add key="EMRHome" value="/ProviderPortal/Home.aspx" />
    <add key="EMRPatientManager" value="/ProviderPortal/Patient/PatientSearch.aspx" />
    <add key="EMRBillingManager" value="/ProviderPortal/Claims/BillingManager.aspx" />
    <add key="EMRMessages" value="/ProviderPortal/Messages/Messages.aspx" />
    <add key="EMRLab" value="/ProviderPortal/Lab/LabManager.aspx" />
    <add key="EMRSettings" value="/ProviderPortal/Settings/Settings.aspx" />
    <add key="EMRTriageManager" value="/ProviderPortal/UnderConstrucion.aspx" />
    <add key="EMRCCM" value="/ProviderPortal/UnderConstrucion.aspx" />
    <add key="AccountingSales" value="/Inventory/Sales.aspx" />
    <add key="AccountingPurchase" value="/Inventory/Purchase.aspx" />
    <add key="AccountingItemsAndInventory" value="/Inventory/ItemsAndInventory.aspx" />
    <add key="AccountingManufacturing" value="/Inventory/Manufacturing.aspx" />
    <add key="AccountingGeneralLedger" value="/Inventory/GeneralLedger.aspx" />
    <add key="AccountingSetup" value="/Inventory/Setup.aspx" />
    <add key="NewCropService.Drug" value="https://preproduction.newcropaccounts.com/v7/WebServices/Drug.asmx" />
    <add key="AbilityService.webservice" value="http://108.227.4.25/AbilityService/webservice.asmx" />
    <add key="interfax.dfs" value="http://ws.interfax.net/dfs.asmx" />
   <!--changes added by ali imran 11/15/2015 add web service for eligibility check-->
    <add key="WebReference.WebService" value="http://35.194.72.86/WebService.asmx"/>
     <!--changes ended by ali imran-->
  </appSettings>
  <connectionStrings>
    <!--<add name="DefaultConnectionString" connectionString="Data Source=emr1.database.windows.net;Initial Catalog=EMR;Persist Security Info=True;User ID=emradmin;Password=islamabad1A!"/>-->
    <add name="DefaultConnectionString" connectionString="data source=tfs-server; initial catalog = EMR; uid = sa; password=poiu1234; Max Pool Size=300;" />
    <!-- <add name="DefaultConnectionString" connectionString="Data Source=.;Initial Catalog=EMR;Integrated Security=True" />-->
  </connectionStrings>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
   <location path="ProviderPortal/Register/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ProviderPortal/Register/CallBacks/UserRegisterationHandler.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PatientSignUp.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PatientSignUpHandler.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PatientLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SuperAdmin">
    <system.web>
      <authorization>
        <allow roles="SA" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PatientEHR">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="StyleSheets">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>


  <!--added by Rizwan 24june2020-->
  <system.web>
    <globalization uiCulture="en" culture="en-US" />
  </system.web>
  <!--added by Rizwan 24june2020-->


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EligibilitySoap">
          <security mode="Transport"></security>
        </binding>
        <binding name="EligibilitySoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.burnihealth.com/AbilityService/Webservice.asmx" binding="basicHttpBinding" bindingConfiguration="EligibilitySoap" contract="MremindEligibilityService.EligibilitySoap" name="EligibilitySoap" />
    </client>
  </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>